<form id="form-order" method="post" data-oc-toggle="ajax" data-oc-load="{{ action }}" data-oc-target="#order">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td class="text-center" style="width: 1px;"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', $(this).prop('checked'));" class="form-check-input"/></td>
          <td class="text-center">Product Name</td>
          <td class="text-center">Order Type</td>
          <td class="text-center">Qty</td>
          {# <td class="text-center">Status</td> #}
          <td class="text-end">Action</td>
        </tr>
      </thead>
      <tbody>
        {% if orders %}
          {% for order in orders %}
            <tr>
              <td class="text-center"><input type="checkbox" name="selected[]" value="{{ order.orders_id }}" class="form-check-input"/></td>
              <td class="text-center">{{ order.product_name }}</td>
              <td class="text-center">{% if order.order_type == 0 %} Puchase order raising {% else %} Puchase order receiving {% endif %}</td>
              <td class="text-center">{{ order.qty }}</td>
              {# <td class="text-center">{% if order.status %}Enabled{% else %}Disabled{% endif %}</td> #}
              <td class="text-end">
                <a href="{{ order.edit }}" data-bs-toggle="tooltip" title="Edit" class="btn btn-primary"><i class="fa-solid fa-pencil"></i></a>
                {% if order.order_type == 0 %}
                <a href="{{ order.export }}" data-bs-toggle="tooltip" title="Add" class="btn btn-success"><i class="fa-solid fa-file-arrow-down"></i></a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center" colspan="7">{{ text_no_results }}</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-sm-6 text-start">{{ pagination }}</div>
    <div class="col-sm-6 text-end">{{ results }}</div>
  </div>
</form>
