{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" id="order_save_btn" form="form-order" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
      <h1>Order</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_form }}</div>
      <div class="card-body">
        <form id="form-order" action="{{ action }}" method="post" data-oc-toggle="ajax">
            <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Order Type</label>
              <div class="col-sm-11">
                  <div class="input-group">
                   <select name="order_type" id="input-order-type" class="form-select">
                        <option value="0" {% if order_type == 0 %} selected{% endif %}>Puchase order raising</option>
                        <option value="1" {% if order_type == 1 %} selected{% endif %}>Puchase order receiving</option>
                      </select>
                  </div>
              </div>
            </div>
            <div class="row mb-3" id="input-client-class-main">
              <label class="col-sm-1 col-form-label">Client</label>
              <div class="col-sm-11">
                  <div class="input-group">
                   <select name="client_id" id="input-client-class" class="form-select">
                        <option value="0">None</option>
                        {% for client in clients %}
                          <option value="{{ client.client_id }}"{% if client.client_id == client_id %} selected{% endif %}>{{ client.name }}</option>
                        {% endfor %}
                      </select>
                  </div>
              </div>
            </div>
            <div class="row mb-3" id="input-vendor-class-main">
              <label class="col-sm-1 col-form-label">Moulder Name</label>
              <div class="col-sm-11">
                  <div class="input-group">
                   <select name="moulder_id" id="input-moulder-class" class="form-select">
                        <option value="0">None</option>
                        {% for moulder in moulders %}
                          <option value="{{ moulder.moulder_id }}"{% if moulder.moulder_id == moulder_id %} selected{% endif %}>{{ moulder.name }}</option>
                        {% endfor %}
                      </select>
                  </div>
              </div>
            </div>
            <div class="row mb-3" id="input-die-class-main">
              <label class="col-sm-1 col-form-label">Die</label>
              <div class="col-sm-11">
                  <div class="input-group">
                   <select name="die_id" id="input-die-class" class="form-select">
                        <option value="0">None</option>
                        {% for die in dies %}
                          <option value="{{ die.die_id }}"{% if die.die_id == die_id %} selected{% endif %}>{{ die.name }}</option>
                        {% endfor %}
                      </select>
                  </div>
              </div>
            </div>
            <div class="row mb-3" id="input-address-class-main">
              <label class="col-sm-1 col-form-label">Address</label>
              <div class="col-sm-11">
                  <div class="input-group">
                      <input type="text" name="address" value="{{ address }}" placeholder="Address" id="input-address" class="form-control"/>
                  </div>
              </div>
            </div>
            <div class="row mb-3" id="input-po_no-class-main">
              <label class="col-sm-1 col-form-label">PO No.</label>
              <div class="col-sm-11">
                  <div class="input-group">
                    <input type="text" name="po_no" value="{{ po_no }}" placeholder="PO No." id="po_no" class="form-control"/>
                  </div>
              </div>
            </div>
            <div class="row mb-3" id="input-product-class-main">
              <label class="col-sm-1 col-form-label">Product</label>
              <div class="col-sm-11">
                  <div class="input-group">
                   <select name="product_id" id="input-product-class" class="form-select">
                        <option value="0">None</option>
                        {% for product in products %}
                          <option value="{{ product.product_id }}"{% if product.product_id == product_id %} selected{% endif %}>{{ product.name }}</option>
                        {% endfor %}
                      </select>
                  </div>
              </div>
            </div>
            <div class="row mb-3" id="input-accessories-class-main">
              <label class="col-sm-1 col-form-label">Spare Parts</label>
              <div class="col-sm-11">
                  <div class="input-group">
                   <select name="accessories_id" id="input-accessories-class" class="form-select">
                        <option value="0">None</option>
                        {% for accessory in accessories %}
                          <option value="{{ accessory.accessories_id }}"{% if accessory.accessories_id == accessories_id %} selected{% endif %}>{{ accessory.name }}</option>
                        {% endfor %}
                      </select>
                  </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Quantity</label>
              <div class="col-sm-11">
                  <div class="input-group">
                    <input type="number" name="qty" value="{{ qty }}" placeholder="Quantity" id="qty" class="form-control"/>
                  </div>
                  <span id="quantity-error" style="color:red;"></span>
              </div>
            </div>
            <div class="row mb-3" id="input-powder-class-main">
              <label class="col-sm-1 col-form-label">Powder Type</label>
              <div class="col-sm-11">
                  <div class="input-group">
                   <select name="powder_id" id="input-powder-class" class="form-select">
                        <option value="0">None</option>
                        {% for powder in powders %}
                          <option value="{{ powder.powder_id }}"{% if powder.powder_id == powder_id %} selected{% endif %}>{{ powder.name }}</option>
                        {% endfor %}
                      </select>
                  </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Colour</label>
              <div class="col-sm-11">
                  <div class="input-group">
                   <select name="colour_id" id="input-colour-class" class="form-select">
                        <option value="0">None</option>
                        {% for colour in colours %}
                          <option value="{{ colour.colour_id }}"{% if colour.colour_id == colour_id %} selected{% endif %}>{{ colour.name }}</option>
                        {% endfor %}
                      </select>
                  </div>
              </div>
            </div>
            {# <div class="row mb-3" id="input-check_color-class-main">
              <label class="col-sm-1 col-form-label">Colour Select</label>
              <div class="col-sm-11">
                  <div class="input-group">
                    <select name="check_color" id="input-check-color" class="form-select" onchange="toggleDivs()">
                      <option value="0" {% if check_color == 0 %} selected{% endif %}>Master Batch</option>
                      <option value="1" {% if check_color == 1 %} selected{% endif %}>Pigment</option>
                    </select>
                  </div>
              </div>
            </div> #}
            <div class="row mb-3" id="input-pigment-class-main">
              <label class="col-sm-1 col-form-label">Pigment</label>
              <div class="col-sm-11">
                  <div class="input-group">
                   <select name="pigment_id" id="input-pigment-class" class="form-select">
                        <option value="0">None</option>
                        {% for pigment in pigments %}
                          <option value="{{ pigment.pigment_id }}"{% if pigment.pigment_id == pigment_id %} selected{% endif %}>{{ pigment.name }}</option>
                        {% endfor %}
                      </select>
                  </div>
              </div>
            </div>
            <div class="row mb-3" id="input-master_batch-class-main">
              <label class="col-sm-1 col-form-label">Master Batch</label>
              <div class="col-sm-11">
                  <div class="input-group">
                   <select name="master_batch_id" id="input-master_batch-class" class="form-select">
                        <option value="0">None</option>
                        {% for master_batch in master_batchs %}
                          <option value="{{ master_batch.master_batch_id }}"{% if master_batch.master_batch_id == master_batch_id %} selected{% endif %}>{{ master_batch.name }}</option>
                        {% endfor %}
                      </select>
                  </div>
              </div>
            </div>
            <div class="row mb-3" id="input-fittings-class-main">
              <label class="col-sm-1 col-form-label">Extra Fittings</label>
              <div class="col-sm-11">
                  <div class="input-group">
                   <select name="fittings_id" id="input-fittings-class" class="form-select">
                        <option value="0">None</option>
                        {% for fitting in fittings %}
                          <option value="{{ fitting.fittings_id }}"{% if fitting.fittings_id == fittings_id %} selected{% endif %}>{{ fitting.name }}</option>
                        {% endfor %}
                      </select>
                  </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Targeted Date</label>
              <div class="col-sm-11">
                  <div class="input-group">
                    <input type="date" name="targeted_date" value="{{ targeted_date }}" placeholder="Targeted Date" id="targeted_date" class="form-control date"/>
                  </div>
              </div>
            </div>
            <div class="row mb-3" id="input-required_qty-class-main">
              <label class="col-sm-1 col-form-label">Targeted Quantity</label>
              <div class="col-sm-11">
                  <div class="input-group">
                    <input type="number" name="req_qty" value="{{ req_qty }}" min="0" placeholder="Required Quantity" id="req_qty" disabled class="form-control"/>
                  </div>
              </div>
            </div>
            <div class="row mb-3" id="input-weight-class-main">
              <label class="col-sm-1 col-form-label">Number Of Bags</label>
              <div class="col-sm-11">
                  <div class="input-group">
                    <input type="number" name="weight" value="{{ weight }}" placeholder="Weight" id="weight" disabled class="form-control"/>
                  </div>
              </div>
            </div>
            {# <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Remark</label>
              <div class="col-sm-11">
                  <div class="input-group">
                      <input type="text" name="remark" value="{{ remark }}" placeholder="Remark" id="input-remark" class="form-control"/>
                  </div>
              </div>
            </div> #}
            {# <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Status</label>
              <div class="col-sm-11">
                  <div class="form-check form-switch form-switch-lg">
                    <input type="hidden" name="order_status" value="0"/>
                    <input type="checkbox" name="order_status" value="1" id="order_status" class="form-check-input" {% if status %}checked{% endif %}/>
                  </div>
              </div>
            </div> #}
          <input type="hidden" name="orders_id" value="{{ orders_id }}" id="input-order-id"/>
          <input type="hidden" name="latest_id" value="{{ latest_id }}" id="input-latest-id"/>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}

<script>
// document.getElementById('input-order-type').addEventListener('change', function() {
//   var powderField = document.getElementById('input-powder-class-main');
//   var clientField = document.getElementById('input-client-class-main');
//   var productField = document.getElementById('input-product-class-main');
//   var fittingsField = document.getElementById('input-fittings-class-main');
//   var vendorField = document.getElementById('input-vendor-class-main');
//   var accessoryField = document.getElementById('input-accessories-class-main');
//   var masterbatchField = document.getElementById('input-master_batch-class-main');
//   var po_no = document.getElementsByClassName('po_no');
  
//   if (this.value == '1') {
//     powderField.style.display = 'none';
//     for (var i = 0; i < po_no.length; i++) {
//       if(po_no[i].classList.contains('d-none')){
//         po_no[i].classList.remove('d-none');
//         po_no[i].classList.add('d-flex');
//       }
//     }
//     clientField.classList.add('d-flex');
//     clientField.classList.remove('d-none');
//     productField.classList.add('d-flex');
//     productField.classList.remove('d-none');
//     fittingsField.classList.add('d-flex');
//     fittingsField.classList.remove('d-none');
//     masterbatchField.classList.add('d-none');
//     masterbatchField.classList.remove('d-flex');
//     vendorField.classList.add('d-none');
//     vendorField.classList.remove('d-flex');
//     accessoryField.classList.add('d-none');
//     accessoryField.classList.remove('d-flex');
//   } else {
//     powderField.style.display = 'flex';
//     clientField.classList.add('d-none');
//     clientField.classList.remove('d-flex');
//     productField.classList.add('d-none');
//     productField.classList.remove('d-flex');
//     fittingsField.classList.add('d-none');
//     fittingsField.classList.remove('d-flex');
//     masterbatchField.classList.add('d-none');
//     masterbatchField.classList.remove('d-flex');
//     vendorField.classList.add('d-flex');
//     vendorField.classList.remove('d-none');
//     accessoryField.classList.add('d-flex');
//     accessoryField.classList.remove('d-none');
//     for (var i = 0; i < po_no.length; i++) {
//       if(!po_no[i].classList.contains('d-none') && po_no[i].classList.contains('d-flex')){
//         po_no[i].classList.add('d-none');
//         po_no[i].classList.remove('d-flex');
//       }
//     }
//   }
// });


$('#input-order-type').on('change', function() {
    var powderField = $('#input-powder-class-main');
    var clientField = $('#input-client-class-main');
    var productField = $('#input-product-class-main');
    var fittingsField = $('#input-fittings-class-main');
    var vendorField = $('#input-vendor-class-main');
    var dieField = $('#input-die-class-main');
    var weightField = $('#input-weight-class-main');
    var accessoryField = $('#input-accessories-class-main');
    var masterbatchField = $('#input-master_batch-class-main');
    var pigmentField = $('#input-pigment-class-main');
    // var po_no = $('#input-po_no-class-main');
    var req_qty = $('#input-required_qty-class-main');

    if ($(this).val() == '1') {
        powderField.hide();
        // po_no.show();
        clientField.show();
        weightField.show();
        productField.show();
        fittingsField.show();
        masterbatchField.hide();
        pigmentField.hide();
        vendorField.hide();
        dieField.hide();
        accessoryField.hide();
        req_qty.hide();
    } else {
        powderField.show();
        // po_no.hide();
        clientField.hide();
        productField.hide();
        fittingsField.hide();
        masterbatchField.show();
        pigmentField.show();
        vendorField.show();
        dieField.show();
        accessoryField.show();
        req_qty.show();
        weightField.show();
    }
});



$(document).ready(function() {
  var orderType = $('#input-order-type').val();
  if (orderType == '1') {
    $('#input-fittings-class-main').show();
    $('#input-weight-class-main').show();
    $('#input-product-class-main').show();
    $('#input-accessories-class-main').hide();
    $('#input-vendor-class-main').hide();
    $('#input-die-class-main').hide();
    $('#input-powder-class-main').hide();
    $('#input-master_batch-class-main').hide();
    $('#input-pigment-class-main').hide();
    // $('#input-po_no-class-main').show();
    $('#input-required_qty-class-main').hide();
    $('#input-client-class-main').show();
  } else {
    $('#input-weight-class-main').hide();
    $('#input-accessories-class-main').show();
    $('#input-vendor-class-main').show();
    $('#input-die-class-main').show();
    $('#input-powder-class-main').show();
    $('#input-master_batch-class-main').show();
    $('#input-pigment-class-main').show();
    // $('#input-po_no-class-main').hide();
    $('#input-required_qty-class-main').show();
    $('#input-product-class-main').hide();
    $('#input-fittings-class-main').hide();
    $('#input-client-class-main').hide();
    $('#quantity-error').html('');
    $('#input-latest-id').val();
    if($('#input-latest-id').val() > 0){
      // Create a po number with month and year
      var date = new Date();
      var month = String(date.getMonth() + 1).padStart(2, '0');
      var year = date.getFullYear();
      var latestId = $('#input-latest-id').val();
      $('#po_no').val(month + '-' + year + '-' + latestId);
    }
    // document.addEventListener('DOMContentLoaded', toggleDivs);
  }
    
});

 $('#qty').on('input', function() {
  // Add Required Quantity by getting entered qty
   $.ajax({
    url: 'index.php?route=catalog/order|calculateQty&user_token={{user_token}}&qty='+$(this).val()+'&accessories_id='+$('#input-accessories-class').val(),
    type: 'GET',
    success: function(response) {
      $('#req_qty').val(response);
    }
   });
 });

  document.getElementById('form-order').addEventListener('submit', function() {
    document.getElementById('req_qty').disabled = false;
  });


$('#input-client-class').change(function() {
  $.ajax({
    url: 'index.php?route=catalog/order|clientAddress&user_token={{user_token}}&client_id='+$(this).val(),
    type: 'GET',
    success: function(response) {
      $('#input-address').val(response);
    }
   });
});

$('#input-moulder-class').change(function() {
  $.ajax({
    url: 'index.php?route=catalog/order|moulderAddress&user_token={{user_token}}&moulder_id='+$(this).val(),
    type: 'GET',
    success: function(response) {
      $('#input-address').val(response);
    }
   });
});

$('#input-product-class').change(function() {
  $.ajax({
    url: 'index.php?route=catalog/order|productWeight&user_token={{user_token}}&product_id='+$(this).val(),
    type: 'GET',
    success: function(response) {
      $('#weight').val(response);
    }
   });
});

$('#qty').change(function() {
if($('#input-order-type').val() == 1){
  $.ajax({
    url: 'index.php?route=catalog/order|checkAvaiability&user_token={{user_token}}&qty='+$(this).val(),
    type: 'GET',
    success: function(response) {
      if(response.message != 'Success') {
        $('#quantity-error').html(response.message);
        $('#order_save_btn').prop('disabled',$('#order_save_btn').val() === '');
      }else{
        $('#quantity-error').html('');
      }
    }
   });
}
});


// function toggleDivs() {
//     const masterBatchDiv = document.getElementById('input-master_batch-class-main');
//     const pigmentDiv = document.getElementById('input-pigment-class-main');
//     const selectElement = document.getElementById('input-check-color');
//     if (selectElement.value == "0") {
//       masterBatchDiv.style.display = 'flex';
//         pigmentDiv.style.display = 'none';
//     } else {
//         masterBatchDiv.style.display = 'none';
//         pigmentDiv.style.display = 'flex';
//     }
// }

// Call toggleDivs on page load to set the initial state
// document.addEventListener('DOMContentLoaded', toggleDivs);
</script>