<form id="form-product" method="post" data-oc-toggle="ajax" data-oc-load="{{ action }}" data-oc-target="#product">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td class="text-center" style="width: 1px;"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', $(this).prop('checked'));" class="form-check-input"/></td>
          <td class="text-center">Image</td>
          <td class="text-center">Name</td>
          <td class="text-center">Quantity</td>
          <td class="text-center">Product Cost</td>
          <td class="text-center">Labor Cost</td>
          <td class="text-center">Transportation Cost</td>
          <td class="text-center">Total Price</td>
          <td class="text-center">Status</td>
          <td class="text-end">Action</td>
        </tr>
      </thead>
      <tbody>
        {% if products %}
          {% for product in products %}
            <tr>
              <td class="text-center"><input type="checkbox" name="selected[]" value="{{ product.product_id }}" class="form-check-input"/></td>
              <td class="text-center" style="width:10%"><img src="{{product.image}}" id="product_image" data-val="{{ product.product_id }}" data-toggle="modal" data-target="#exampleModal"/></td>
              <td class="text-center">{{ product.name }}</td>
              <td class="text-center">{{ product.qty }}</td>
              <td class="text-center">{{ product.product_cost }}</td>
              <td class="text-center">{{ product.labor_cost }}</td>
              <td class="text-center">{{ product.transportation_cost }}</td>
              <td class="text-center">{{ product.total_price }}</td>
              <td class="text-center">{% if product.status %}Enabled{% else %}Disabled{% endif %}</td>
              <td class="text-end">
                <a href="{{ product.edit }}" data-bs-toggle="tooltip" title="Edit" class="btn btn-warning"><i class="fa-solid fa-pencil"></i></a>
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center" colspan="7">{{ text_no_results }}</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-sm-6 text-start">{{ pagination }}</div>
    <div class="col-sm-6 text-end">{{ results }}</div>
  </div>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        {# <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> #}
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <!-- Content to be dynamically added via AJAX -->
      </div>
    </div>
  </div>
</div>
<script>
$('#product_image').on('click',function(e) {
  var productId = $(this).data('val');
  $('#exampleModal').modal('show');
  $.ajax({
      url: 'index.php?route=catalog/product|showImg&user_token={{ user_token }}&product_id='+productId,
      type: 'GET',
      success: function(response) {
          var imgTag = '<img src="' + response + '" alt="Image" class="img-fluid">';
          $('.modal-body').html(imgTag);
      },
      error: function() {
          $('.modal-body').html('<p>Image could not be loaded.</p>');
      }
  });
});
</script>