{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-product" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
      <h1>Product</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_form }}</div>
      <div class="card-body">
        <form id="form-product" action="{{ action }}" method="post" data-oc-toggle="ajax">
            <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Name</label>
              <div class="col-sm-11">
                  <div class="input-group">
                    <input type="text" name="product_name" value="{{ name }}" placeholder="Name" id="product_name" class="form-control"/>
                  </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Category</label>
              <div class="col-sm-11">
                  <div class="input-group">
                    <select name="category_id" class="form-select">
                      <option value=""></option>
                      {% for category in categories %}
                        <option value="{{ category.category_id }}"{% if category.category_id == category_id %} selected{% endif %}>{{ category.name }}</option>
                      {% endfor %}
                    </select>
                    {# <input type="text" name="category" value="{{ category }}" id="product_name" class="form-control"/> #}
                  </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Quantity</label>
              <div class="col-sm-11">
                  <div class="input-group">
                    <input type="number" name="qty" value="{{ qty }}" min="0" placeholder="Quantity" id="qty" class="form-control"/>
                  </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Product Cost</label>
              <div class="col-sm-11">
                  <div class="input-group">
                    <input type="number" name="product_cost" value="{{ product_cost }}" min="0" step="0.01" placeholder="Product Cost" id="product_cost" class="form-control"/>
                  </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Labor Cost</label>
              <div class="col-sm-11">
                  <div class="input-group">
                    <input type="number" name="labor_cost" value="{{ labor_cost }}" min="0" step="0.01" placeholder="Labor Cost" id="labor_cost" class="form-control"/>
                  </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Transportation Cost</label>
              <div class="col-sm-11">
                  <div class="input-group">
                    <input type="number" name="transportation_cost" value="{{ transportation_cost }}" min="0" step="0.01" placeholder="Transportation Cost" id="transportation_cost" class="form-control"/>
                  </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Total Price</label>
              <div class="col-sm-11">
                  <div class="input-group">
                    <input type="number" name="total_price" value="{{ total_price }}" min="0" step="0.01" placeholder="Total Price" id="total_price" class="form-control"/>
                  </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Extra Fittings</label>
              <div class="col-sm-11">
                  <div class="input-group">
                    <select name="fittings_ids[]" multiple id="input-fittings-class" class="form-select">
                      <option value="" {% if fittings_id == 0 %}selected{% endif %}>None</option>
                      {% for fitting in fittings %}
                        <option value="{{ fitting.fittings_id }}"{% if fitting.fittings_id in fittings_id %} selected{% endif %}>{{ fitting.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Image</label>
              <div class="col-sm-11">
                <div class="card image">
                  <img src="{{ thumb }}" alt="" title="" id="thumb-image" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/> <input type="hidden" name="image" value="{{ image }}" id="input-image"/>
                  <div class="card-body">
                    <button type="button" data-oc-toggle="image" data-oc-target="#input-image" data-oc-thumb="#thumb-image" class="btn btn-primary btn-sm btn-block"><i class="fa-solid fa-pencil"></i> {{ button_edit }}</button>
                    <button type="button" data-oc-toggle="clear" data-oc-target="#input-image" data-oc-thumb="#thumb-image" class="btn btn-warning btn-sm btn-block"><i class="fa-regular fa-trash-can"></i> {{ button_clear }}</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Status</label>
              <div class="col-sm-11">
                  <div class="form-check form-switch form-switch-lg">
                    <input type="hidden" name="product_status" value="0"/>
                    <input type="checkbox" name="product_status" value="1" id="product_status" class="form-check-input" {% if status %}checked{% endif %}/>
                  </div>
              </div>
            </div>
          <input type="hidden" name="product_id" value="{{ product_id }}" id="input-product-id"/>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}

<script>
$(document).ready(function() {
    $('#input-fittings-class').select2({
        width: '100%'
    });
    
    var product_cost = 0.00;
    var labor_cost = 0.00;
    var transportation_cost = 0.00;
    var total_price = 0.00;

    $('#product_cost, #labor_cost, #transportation_cost').change(function() {
      product_cost = $('#product_cost').val();
      labor_cost = $('#labor_cost').val();
      transportation_cost = $('#transportation_cost').val();
      total_price = parseFloat(product_cost)+parseFloat(labor_cost)+parseFloat(transportation_cost);
      $('#total_price').val(parseFloat(total_price).toFixed(2));
    });
});
</script>