{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-master_batch" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
      <h1>Master Batch</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_form }}</div>
      <div class="card-body">
        <form id="form-master_batch" action="{{ action }}" method="post" data-oc-toggle="ajax">
            <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Name</label>
              <div class="col-sm-11">
                  <div class="input-group">
                    <input type="text" name="master_batch_name" value="{{ name }}" placeholder="Name" id="master_batch_name" class="form-control"/>
                  </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Image</label>
              <div class="col-sm-11">
                <div class="card image">
                  <img src="{{ thumb }}" alt="" title="" id="thumb-image" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/>
                  <input type="hidden" name="master_batch_image" value="{{ image }}" id="input-image"/>
                  <div class="card-body">
                    <button type="button" data-oc-toggle="image" data-oc-target="#input-image" data-oc-thumb="#thumb-image" class="btn btn-primary btn-sm btn-block"><i class="fa-solid fa-pencil"></i> {{ button_edit }}</button>
                    <button type="button" data-oc-toggle="clear" data-oc-target="#input-image" data-oc-thumb="#thumb-image" class="btn btn-warning btn-sm btn-block"><i class="fa-regular fa-trash-can"></i> {{ button_clear }}</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Color</label>
              <div class="col-sm-11">
                  <div class="input-group">
                    <input type="text" name="master_batch_color" value="{{ color }}" placeholder="Colors" id="master_batch_color" class="form-control"/>
                  </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Quantity</label>
              <div class="col-sm-11">
                  <div class="input-group">
                    <input type="number" name="master_batch_qty" value="{{ qty }}" min="0" placeholder="Quantity" id="master_batch_qty" class="form-control"/>
                  </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Weight (In Grams)</label>
              <div class="col-sm-11">
                  <div class="input-group">
                    <input type="number" name="master_batch_weight" value="{{ weight }}" min="0" placeholder="Weight" id="master_batch_weight" class="form-control"/>
                  </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Status</label>
              <div class="col-sm-11">
                  <div class="form-check form-switch form-switch-lg">
                    <input type="hidden" name="master_batch_status" value="0"/>
                    <input type="checkbox" name="master_batch_status" value="1" id="master_batch_status" class="form-check-input" {% if status %}checked{% endif %}/>
                  </div>
              </div>
            </div>
          <input type="hidden" name="master_batch_id" value="{{ master_batch_id }}" id="input-master_batch-id"/>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
$('#master_batch_qty').on('change', function() {
  $('#master_batch_weight').val($(this).val()*500);
});
</script>
{{ footer }}