{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-powder" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
      <h1>Powder</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_form }}</div>
      <div class="card-body">
        <form id="form-powder" action="{{ action }}" method="post" data-oc-toggle="ajax">
            <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Name</label>
              <div class="col-sm-11">
                  <div class="input-group">
                    <input type="text" name="powder_name" value="{{ name }}" placeholder="Name" id="powder_name" class="form-control"/>
                  </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Quantity</label>
              <div class="col-sm-11">
                  <div class="input-group">
                    <input type="number" name="powder_qty" value="{{ qty }}" placeholder="Quantity" id="powder_qty" class="form-control"/>
                  </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Rate</label>
              <div class="col-sm-11">
                  <div class="input-group">
                    <input type="number" name="powder_rate" value="{{ rate }}" placeholder="Rate" id="powder_rate" class="form-control"/>
                  </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Weight</label>
              <div class="col-sm-11">
                  <div class="input-group">
                    <input type="number" name="powder_weight" value="{{ weight }}" placeholder="weight" id="powder_weight" class="form-control"/>
                  </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-1 col-form-label">Status</label>
              <div class="col-sm-11">
                  <div class="form-check form-switch form-switch-lg">
                    <input type="hidden" name="powder_status" value="0"/>
                    <input type="checkbox" name="powder_status" value="1" id="powder_status" class="form-check-input" {% if status %}checked{% endif %}/>
                  </div>
              </div>
            </div>
          <input type="hidden" name="powder_id" value="{{ powder_id }}" id="input-powder-id"/>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}